.intro {
  width: 400px;
  margin: 50px auto; }
  .intro .xo-header {
    height: 70px;
    text-align: center; }
    .intro .xo-header h1 {
      color: #fac818;
      font-size: 44px; }
      .intro .xo-header h1::first-letter {
        color: cadetblue; }
  .intro .pick-player-section {
    height: 200px;
    background-color: #202123;
    border-radius: 15px;
    border-bottom: 7px solid #262f2f;
    margin-bottom: 20px; }
    .intro .pick-player-section .pick-player {
      height: 60px;
      color: #ddd;
      text-transform: uppercase;
      text-align: center;
      line-height: 60px;
      font-size: 11px; }
    .intro .pick-player-section .choose-x-o {
      width: 90%;
      height: 80px;
      margin: 0 auto;
      background-color: #000018;
      border-radius: 10px; }
      .intro .pick-player-section .choose-x-o .chooseX, .intro .pick-player-section .choose-x-o .chooseO {
        width: 50%;
        height: 80px;
        float: left;
        color: white;
        font-size: 50px;
        text-align: center;
        font-weight: bold; }
      .intro .pick-player-section .choose-x-o .active {
        background-color: lightgrey;
        border-radius: 10px;
        color: #000018; }
    .intro .pick-player-section .reminder {
      height: 60px;
      text-transform: uppercase;
      color: #414f57;
      text-align: center;
      line-height: 60px;
      font-weight: bold;
      font-size: 14px; }
  .intro button {
    width: 400px;
    height: 50px;
    border: none;
    margin-top: 15px;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: bold; }
    .intro button:hover {
      cursor: pointer; }
  .intro #vsCpu {
    background-color: #fac818;
    border-bottom: 7px solid orange; }
  .intro #vsPlayer {
    background-color: cadetblue;
    border-bottom: 7px solid #268999; }

.game-section-container {
  width: 400px;
  margin: 50px auto;
  display: none; }
  .game-section-container .info-game-section {
    height: 70px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px; }
    .game-section-container .info-game-section .xo-icons {
      width: 33.3%; }
      .game-section-container .info-game-section .xo-icons h3 {
        color: #fac818;
        font-size: 44px;
        margin-left: 16px; }
        .game-section-container .info-game-section .xo-icons h3::first-letter {
          color: cadetblue; }
    .game-section-container .info-game-section .turn-info {
      width: 33.3%; }
      .game-section-container .info-game-section .turn-info .turn-info-css {
        height: 35px;
        width: 70%;
        margin: 17px auto;
        background-color: #202123;
        border-radius: 10px;
        border-bottom: 3px solid #262f2f;
        box-sizing: border-box; }
        .game-section-container .info-game-section .turn-info .turn-info-css h4 {
          color: #ddd;
          font-size: 26px;
          font-weight: bold;
          float: left;
          padding: 0 10px 0 20px;
          line-height: 28px; }
        .game-section-container .info-game-section .turn-info .turn-info-css p {
          color: #ddd;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 10px;
          float: left;
          line-height: 34px; }
    .game-section-container .info-game-section .restart-button {
      width: 33.3%; }
      .game-section-container .info-game-section .restart-button button {
        width: 35px;
        height: 35px;
        background-color: lightgrey;
        border: none;
        border-radius: 5px;
        border-bottom: 3px solid grey;
        float: right;
        margin-top: 16px;
        margin-right: 16px; }
        .game-section-container .info-game-section .restart-button button img {
          max-width: 60%;
          height: 100%; }
  .game-section-container .game-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .game-section-container .game-section .xo {
      width: 100px;
      height: 100px;
      line-height: 100px;
      margin: 16px;
      background: #202123;
      box-sizing: border-box;
      font-size: 44px;
      color: white;
      text-align: center;
      font-weight: bold;
      border-radius: 15px;
      border-bottom: 7px solid #262f2f;
      cursor: pointer; }
  .game-section-container .results-info {
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .game-section-container .results-info .result1, .game-section-container .results-info .resultTie, .game-section-container .results-info .result2 {
      width: 100px;
      height: 70px;
      margin: 16px;
      border-radius: 15px;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px; }
      .game-section-container .results-info .result1 p, .game-section-container .results-info .resultTie p, .game-section-container .results-info .result2 p {
        padding-top: 15px; }
      .game-section-container .results-info .result1 p > span, .game-section-container .results-info .resultTie p > span, .game-section-container .results-info .result2 p > span {
        font-size: 17px; }
    .game-section-container .results-info .result1 {
      background-color: cadetblue; }
    .game-section-container .results-info .resultTie {
      background-color: lightgrey; }
    .game-section-container .results-info .result2 {
      background-color: #fac818; }

* {
  padding: 0;
  margin: 0; }

body {
  background-color: #000018;
  font-family: 'Open Sans', sans-serif; }

/*# sourceMappingURL=main.css.map */
